body {
    margin: 0; 
    background-color: beige; 
}

h1 {
    text-align: center;
}

img {
    display: block; 
    width: 400px;
    margin-right: auto;
    margin-left: auto; 
}

p {
    display: block; 
    width: 400px; 
    margin-right: auto; 
    margin-left: auto; 
    font-size: 15px; 
    background-color: white; 
}